@font-face {
  font-family: 'MS PGothic Local';
  src: url('./fonts/MSPGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'MS PGothic Local', 'ＭＳ Ｐゴシック';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.ListPage {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

/* Extra padding for mobile */
@media (max-width: 600px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.switch {
  margin: 20px 0;
  margin-top: 0px;
}

.postdate {
  font-size: 0.8em;
  color: gray;
}

.post {
  margin: 20px 0;
}

.posttext {
  font-size: 1.2em;
}

footer {
  margin-top: 20px;
}

#light {
  background-color: #fff;
}

#dark {
  background-color: #000;
}

h1 {
  display: block;
  font-size: 20px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 50px;
}